{% extends 'accounts/forget_password/loginbase.html' %}

{% block title %}Email Sent{% endblock %}
{% load static %}

{% block content %}

  <section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <!-- Logo Image -->
                        <a>
                        <img class="img-fluid" src="{% static 'news/img/logo/banglaitplatfrom.png' %}" style="height: 90px;width: 90px;" alt="">
                        </a>

                        <div class="mt-md-4 pb-5">
                          <h1>Check your inbox.</h1>
                          <p> We've emailed you instructions for setting your password. You should receive the email shortly!</p>                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>  

{% endblock %}