{% extends 'accounts/forget_password/loginbase.html' %}

{% block title %}Forgot Your Password?{% endblock %}
{% load static %}

{% block content %}

  <section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mt-md-4 pb-5">

                            <h2 class="fw-bold mb-2 text-uppercase" style="color: yellow;">PASSWORD RESET</h2>
                            <!-- Logo Image -->
                            <a>
                            <img class="img-fluid" src="{% static 'news/img/logo/banglaitplatfrom.png' %}" style="height: 90px;width: 90px;" alt="">
                            </a>

                            <div class="form-outline form-white mb-4">
                              <h1>Forgot your password?</h1>
                              <p>Enter your email address below, and we'll email instructions for setting a new one.</p>
                            
                              <form method="POST">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <input type="submit" value="Submit">
                              </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}